@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Tourney:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap");
* {
  background-color: black;
  color: #fffbe9;
  font-family: 'Teko', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  height: 100px;
  margin-bottom: 50px;
  font-weight: 700;
}

nav a {
  margin-left: 25px;
  margin-right: 25px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: overline underline;
  color: #98b796;
}

body {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header header header" "picture main main" "project project project" "footer footer footer";
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  background-color: black;
  max-width: 1024px;
  margin: 0 auto;
}

body #avely {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: picture;
  border-radius: 50%;
  margin: 15px;
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: main;
  margin: 10px;
  margin-bottom: 60px;
  font-size: 35px;
}

span {
  color: #98b796;
  font-size: 45px;
}

article {
  max-width: 900px;
}

#projects {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: project;
}

#projects h1 {
  font-family: 'Londrina Shadow', cursive;
  font-weight: 700;
  margin: 40px 40px;
  font-size: 45px;
}

#projects .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  gap: 30px;
}

#projects .container .link img {
  width: 400px;
  height: 350px;
  background-size: cover;
}

#projects .container .link .overlay {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.521);
  position: absolute;
  height: 350px;
  width: 400px;
}

#projects .container .link .overlay:hover {
  background-color: rgba(0, 0, 0, 0);
}

footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto 0;
  color: grey;
}

footer div {
  margin-left: 20px;
  color: grey;
}

footer a {
  margin: auto 15px;
}

footer a img {
  height: 30px;
  width: 30px;
}

@media only screen and (max-width: 414px) {
  body {
        grid-template-areas: "header header" "picture picture" "main main" "project project" "footer footer";
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  body img {
    width: 200px;
    height: 200px;
    margin: auto;
  }
  body nav {
    margin-bottom: 10px;
    font-size: 18px;
  }
  body nav a {
    margin: 5px;
    margin-left: 40px;
  }
  body main {
    margin-left: 15px;
  }
  body main article {
    font-size: 25px;
  }
  body main article span {
    font-size: 35px;
  }
}

@media only screen and (min-width: 414px) and (max-width: 768px) {
  img {
    width: 250px;
    height: 250px;
  }
}
/*# sourceMappingURL=index.css.map */